<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>若依介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">

                <br><a target="_blank" href=""></a><br>

                <br><a target="_blank" href=""></a><br>
                <h4 class="text-danger"></h4>
            </blockquote>

            <hr>
        </div>
        <div class="col-sm-3">
            <h2>Hello,Guest</h2>
            <small>微信公众号:</small>
            <br>
            <br>
            <img th:src="@{/img/weixingongzhonghao.jpg}" width="100%" style="max-width:264px;">
            <br>
        </div>
        <div class="col-sm-5">
            <h2>微信公众号:小王庄村</h2>
            <p>1<b>2</b>，<b>3</b>4<b>5</b>6<b>7</b>，<b>8</b>9</p>
            <p>
                <b>微信公众号:</b><span>小王庄村</span>
            </p>
            <p>
                <span class="label label-warning">&yen;小王庄村</span>
            </p>
            <br>
            <p>
                <a class="btn btn-success btn-outline" href="" target="_blank">
                    <i class="fa fa-cloud"> </i> 小王庄村
                </a>
                <a class="btn btn-white btn-bitbucket" href="" target="_blank">
                    <i class="fa fa-home"></i> 小王庄村
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <h4>小王庄村 内容：</h4>
            <ol>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
				<li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
            </ol>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系信息</h5>

                    </div>
                    <div class="ibox-content">
                        <p><i class="fa fa-send-o"></i> 官网：<a href="" target="_blank"></a>
                        </p>
                        <p><i class="fa fa-qq"></i> QQ群：<s>543241307</s> <a href="https://jq.qq.com/?_wv=1027&k=55UHZLB" target="_blank">543241307</a>
                        </p>
                        <p><i class="fa fa-weixin"></i> 微信：<a href="javascript:;">小王庄村</a>
                        </p>
                        <p><i class="fa fa-credit-card"></i> 1<a href="javascript:;" class="支付宝信息"></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>更新日志</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                            <div class="panel panel-default">
								<div class="panel-heading">
								   <h5 class="panel-title">
									   <a data-toggle="collapse" data-parent="#version" href="#v41">v4.1.0</a><code class="pull-right">2019.10.22</code>
								   </h5>
								</div>
								<div id="v41" class="panel-collapse collapse in">
									<div class="panel-body">
									   <ol>
									        <li>微信公众号:举牌等业务</li>

										</ol>
									</div>
								</div>
							 </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v00">v1.0.0</a><code class="pull-right">2018.03.01</code>
                                        </h4>
                                    </div>
                                    <div id="v00" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>若依管理系统正式发布。</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>捐赠</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning">
                            	请作者喝杯咖啡（点击图片放大）
                        </div>
                        <p id="pay-qrcode">
                            <a href="javascript:;"><img th:src="@{/img/paydashang.png}" width="100%" alt="请使用手机支付宝或者微信扫码支付">
                            </a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script type="text/javascript">
	    $('#pay-qrcode').click(function(){
	        var html=$(this).html();
	        parent.layer.open({
	            title: false,
	            type: 1,
	            closeBtn:false,
	            shadeClose:true,
	            area: ['600px', 'auto'],
	            content: html
	        });
	    });
    </script>
</body>
</html>
